<div class="info-container">
  <div class="info-container__title">
    <span>Inicio</span>
  </div>
  <div class="info-container__body">
    <p>
      A lo largo de las siguientes páginas veremos ejemplos de distintos usos de
      algunos elementos de la librería <b>RxJS</b>.
    </p>
    <br />
    <p>Se estudiarán los siguientes casos:</p>
    <ul class="info-list">
      <li>
        <u>Suscripciones:</u> Abrir y cerrar suscripciones de manera correcta.
      </li>
      <li>
        <u>Subjects:</u> Emisión de valores a varios componentes desde un
        servicio, a través de un Subject.
      </li>
      <li>
        <u>BehaviorSubject:</u> Emisión de valores desde un componente a otro,
        estudiando el comportamiento de ambos Subjects.
      </li>
    </ul>
  </div>
</div>
