<div class="info-container">
  <div class="info-container__title">
    <span>Subjects</span>
  </div>
  <div class="info-container__body">
    <p>
      En esta página se están mostrando dos arrays. En principio, estos están
      suscritos a un <b>observable</b> que emite un array de valores aleatorios.
    </p>
    <p>
      Después observaremos qué ocurre al suscribirlos a un mismo <b>Subject</b>.
    </p>
    <div class="random-array">
      <app-first></app-first>
    </div>
    <div class="random-array">
      <app-second></app-second>
    </div>
  </div>
</div>
